.section-challenge {
    .challenge__logo {
        display: flex;
        justify-content: center;
        padding: 2rem 0;
        width: 100%;
    }
    .challenge-img {
        height: 70%;
        width: 70%;
        @media only screen and (min-width: 768px) {
            height: 40%;
            width: 40%;
        }
        @media only screen and (min-width: 1366px) {
            height: 25%;
            width: 25%;
        }
    }
}

.section {
    &-challenge,
    &-kit,
    &-price,
    &-schedule,
    &-winners,
    &-inscriptions,
    &-newsletter {
        padding: 2rem 0;
        @media only screen and (min-width: 768px) {
            padding: 4rem 0;
        }
        @media only screen and (min-width: 1366px) {
            padding: 6rem 0;
        }
    }
}

.section-kit {
    background-color: $secondaryColour;
}

.section-price {
    background-color: $primaryColour;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @media only screen and (min-width: 768px) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    @media only screen and (min-width: 1366px) {
        padding-left: 40rem;
        padding-right: 40rem;
    }
}

.section-schedule {
    background-image: linear-gradient(rgba(16, 29, 44, 0.60), rgba(16, 29, 44, 0.60)), url('./../images/schedule-400px.png');
    /*background-size: cover;*/
    background-position: center;
    background-repeat: no-repeat;
    @media only screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(16, 29, 44, 0.60), rgba(16, 29, 44, 0.60)), url('./../images/schedule-768px.png');
    }
    @media only screen and (min-width: 1366px) {
        background-image: linear-gradient(rgba(16, 29, 44, 0.60), rgba(16, 29, 44, 0.60)), url('./../images/schedule-1366px@2x.png');
        .container {
            width: 1050px;
        }
    }
}

.section-winners {
    background-color: $accentColour;
    .container {
        width: 80%;
        @media only screen and (min-width: 1366px) {
            display: grid;
            grid-gap: 10rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: max-content;
        }
    }
}

.section-inscriptions {
    background-color: $primaryColour;
}

.section-newsletter {
    background-color: $grayColour;
    @media only screen and (min-width: 1366px) {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            direction: rtl;
        }
    }
}