@font-face {
    font-family: 'Cabin Regular';
    font-style: normal;
    font-weight: normal;
    src: url('./../fonts/Cabin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin Medium';
    font-style: normal;
    font-weight: normal;
    src: url('./../fonts/Cabin-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./../fonts/Cabin-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cabin Bold';
    font-style: normal;
    font-weight: normal;
    src: url('./../fonts/Cabin-Bold.ttf') format('truetype');
}