.nav-btn {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    grid-column: nav-col-end 1 / nav-col-end 2;
    height: 5px;
    justify-self: end;
    margin-top: 2.3rem;
    width: 3rem;
    &::after,
    &::before {
        background-color: #fff;
        border-radius: 5px;
        content: "";
        display: block;
        height: 5px;
        width: 3rem;
    }
    &::after {
        transform: translateY(.7rem);
    }
    &::before {
        transform: translateY(-1.2rem);
    }
}

.btn-action {
    background-color: #FC933D;
    border-radius: 6px;
    display: block;
    margin: 1rem auto;
    padding: 5px 35px;
    width: -moz-fit-content;
    width: fit-content;
}