.logo {
    align-items: center;
    display: flex;
    grid-column: nav-col-start 1 / nav-col-end 1;
    flex-flow: row;
    flex-wrap: wrap;
    @media only screen and (min-width: 768px) {
        &__header {
            justify-content: flex-end;
        }
    }
    &__label {
        margin-right: 5px;
    }
    &__icon {
        height: 3.5rem;
        width: 3.5rem;
        @media only screen and (min-width: 1366px) {
            height: 4.5rem;
            width: 4.5rem;
        }
        &--big {
            height: 5.2rem;
            width: 5.2rem;
            @media only screen and (min-width: 768px) {
                height: 9.2rem;
                width: 9.2rem;
            }
            @media only screen and (min-width: 1366px) {
                height: 12.2rem;
                width: 12.2rem;
            }
        }
    }
}

.distance {
    border: 2px solid #fff;
    color: #fff;
    margin-left: 4px;
    padding: 3px;
    text-align: center;
    transform: skewX(-8deg);
}