.important-subtitle {
    background-color: $orangeColour;
    border-radius: 50px;
    display: block;
    margin: 1rem auto;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 80%;
    @media only screen and (min-width: 768px) {
        width: 65%;
    }
}