*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    width: 90%;
    @media only screen and (min-width: 1366px) {
        width: 75%;
    }
}