body {
    color: #fff;
    font-family: 'Cabin Regular', sans-serif;
    font-weight: 400;
}

.logo {
    &__label {
        font-family: 'Cabin Bold', sans-serif;
        font-size: 1.46rem;
        font-weight: 700;
        @media only screen and (min-width: 768px) {
            font-size: 2.3rem;
        }
        @media only screen and (min-width: 1366px) {
            font-size: 3.3rem;
        }
        &--big {
            font-size: 3rem;
            @media only screen and (min-width: 768px) {
                font-size: 6rem;
            }
            @media only screen and (min-width: 1366px) {
                font-size: 9rem;
            }
        }
    }
    &__slogan {
        font-size: 1.3rem;
        font-weight: 700;
        @media only screen and (min-width: 768px) {
            font-size: 3rem;
        }
        @media only screen and (min-width: 1366px) {
            font-size: 5rem;
        }
    }
}

.distance {
    font-size: 1.4rem;
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }
    @media only screen and (min-width: 1366px) {
        font-size: 6rem;
    }
}

.location-date__city {
    color: $primaryColour;
    font-size: 4rem;
    line-height: 100%;
    @media only screen and (min-width: 768px) {
        font-size: 7rem;
    }
    @media only screen and (min-width: 1366px) {
        font-size: 10rem;
    }
}

.location-date__date {
    color: $grayColour;
    font-size: 3rem;
    line-height: 100%;
    @media only screen and (min-width: 768px) {
        font-size: 5rem;
    }
    @media only screen and (min-width: 1366px) {
        font-size: 8rem;
    }
}

.location-date__city,
.location-date__date {
    -webkit-text-stroke: 1px #fff;
}

.heading-title {
    color: #000;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (min-width: 768px) {
        font-size: 6rem;
    }
    &--stroke {
        -webkit-text-stroke: 1px #fff;
    }
    &--white {
        color: #fff;
    }
    &--small {
        font-size: 2rem;
        @media only screen and (min-width: 768px) {
            font-size: 4rem;
        }
    }
    &--capital {
        text-transform: capitalize;
    }
}

@media only screen and (min-width: 768px) {
    .newsletter-subsc {
        .heading-title {
            font-size: 3rem;
        }
    }
}

@media only screen and (min-width: 1366px) {
    .newsletter-subsc {
        .heading-title {
            text-align: left;
        }
    }
}

.finish-text {
    color: #000;
    display: block;
    font-size: 2rem;
    text-align: center;
    @media only screen and (min-width: 768px) {
        font-size: 4rem;
    }
}

.souvenir__item {
    color: #000;
    font-family: 'Cabin Regular', sans-serif;
    font-size: 1.46rem;
    font-weight: 400;
    text-align: center;
    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

.price {
    &__distance {
        color: $primaryColour;
        font-family: 'Cabin Bold', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        -webkit-text-stroke: 2px #fff;
        @media only screen and (min-width: 768px) {
            font-size: 3.5rem;
        }
    }
    &__note {
        color: #000;
        font-size: 1rem;
        text-align: center;
        @media only screen and (min-width: 768px) {
            font-size: 1.47rem;
        }
        @media only screen and (min-width: 1366px) {
            font-size: 2.1rem;
        }
    }
    &-list {
        &__range {
            &-value {
                font-size: 1.7rem;
                @media only screen and (min-width: 768px) {
                    font-size: 3.5rem;
                }
                &--black {
                    color: #000;
                }
            }
            &-date {
                font-size: 1rem;
                text-align: center;
                @media only screen and (min-width: 768px) {
                    font-size: 2rem;
                }
                &--black {
                    color: #000;
                }
            }
        }
    }
}

.schedule {
    &-time {
        font-size: 1.3rem;
        font-weight: 700;
        @media only screen and (min-width: 1366px) {
            font-size: 1.6rem;
        }
    }
    &-activity {
        &__main {
            font-size: 2.5rem;
            text-transform: uppercase;
            @media only screen and (min-width: 1366px) {
                font-size: 3.5rem;
            }
        }
        &__desc {
            font-size: 1.8rem;
            text-transform: capitalize;
            @media only screen and (min-width: 1366px) {
                font-size: 2.4rem;
            }
        }
    }
}

.important-subtitle {
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}

.rank-winners__age {
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    &--big {
        font-size: 2.8rem;
        @media only screen and (min-width: 768px) {
            font-size: 3.3rem;
        }
    }
    @media only screen and (min-width: 768px) {
        font-size: 2rem;
    }
}

.winner-genre {
    color: #fff;
    &__text {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        @media only screen and (min-width: 768px) {
            font-size: 1.8rem;
        }
    }
}

.primary-colour-text {
    color: $primaryColour;
}

.orange-colour-text {
    color: $orangeColour;
}

.winner-value {
    font-size: 1.8rem;
    font-weight: 700;
}

.text-description {
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    @media only screen and (min-width: 768px) {
        font-size: 2.7rem;
        &--left {
            text-align: left;
        }
    }
}

.text-400 {
    font-weight: 400;
}

.text-left {
    text-align: left;
}

.section-inscriptions {
    .heading-title {
        @media only screen and (min-width: 768px) {
            font-size: 2.5rem;
            text-align: left;
        }
    }
}

.btn-action {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
    }
}