.header {
    background-image: linear-gradient(rgba(16, 29, 44, 0.60), rgba(16, 29, 44, 0.60)), url('./../images/hero-400px.png');
    padding: 1.5rem 0;
    @media only screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(16, 29, 44, 0.60), rgba(16, 29, 44, 0.60)), url('./../images/hero-780px.png');
        height: 600px;
    }
    @media only screen and (min-width: 1366px) {
        background-image: linear-gradient(rgba(16, 29, 44, 0.60), rgba(16, 29, 44, 0.60)), url('./../images/hero-1366px@2x.png');
        height: auto;
    }
    .container {
        display: grid;
        grid-gap: 5rem;
        grid-template-areas: "logo" "ciudad";
        grid-template-columns: [header-col-start] 1fr [header-col-end];
        grid-template-rows: repeat(2, 1fr);
        @media only screen and (min-width: 768px) {
            grid-gap: 15rem;
            width: 89%;
        }
        @media only screen and (min-width: 1366px) {
            grid-gap: 20rem;
            width: 75%;
        }
    }
    .logo {
        grid-area: logo;
        @media only screen and (min-width: 1366px) {
            margin-left: 35rem;
            margin-top: 10rem;
        }
    }
}

.location-date {
    align-items: center;
    display: flex;
    grid-area: ciudad;
    flex-flow: column;
    justify-content: center;
    justify-self: end;
    transform: rotate(-5deg);
    @media only screen and (min-width: 1366px) {
        margin-right: 15rem;
    }
}