.inscriptions {
    display: grid;
    grid-gap: 1rem;
    grid-template: 1fr / 1fr;
    &-methods {
        display: grid;
        grid-gap: .5rem;
        grid-template: repeat(3, content) / 1fr;
        justify-content: center;
        @media only screen and (min-width: 768px) {
            justify-content: flex-start;
        }
    }
    &-info {
        display: grid;
        grid-template: repeat(2, 1fr) / 1fr;
    }
    @media only screen and (min-width: 768px) {
        grid-template: 1fr / repeat(2, 1fr);
        .btn-action {
            margin: 1rem 0;
        }
    }
    @media only screen and (min-width: 1366px) {
        grid-template: 1fr / 30% auto;
    }
}