.navbar {
    background-color: $primaryColour;
    height: 5rem;
    @media only screen and (min-width: 1366px) {
        height: auto;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    .container {
        display: grid;
        grid-gap: 3rem;
        grid-template-areas: "logo menu";
        grid-template-columns: repeat(2, [nav-col-start] 1fr [nav-col-end]);
        grid-template-rows: 5rem;
    }
}