.newsletter {
    &-subsc {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, content);
        @media only screen and (min-width: 768px) {
            align-items: center;
            grid-gap: 1rem;
            grid-template-columns: min-content auto min-content;
            grid-template-rows: 1fr;
            margin-bottom: 3rem;
        }
        @media only screen and (min-width: 1366px) {
            direction: initial;
            grid-template-rows: repeat(2, min-content);
            grid-template-columns: auto min-content;
            margin-bottom: 0;
            & h2:first-child {
                grid-column: 1 / 3;
            }
        }
    }
    &-media {
        display: grid;
        grid-gap: 15px;
        grid-template: 1fr / repeat(4, min-content);
        justify-content: center;
        @media only screen and (min-width: 1366px) {
            align-items: center;
            direction: initial;
            grid-gap: 4rem;
            justify-content: start;
            .logo__icon--big {
                height: 6.2rem;
                width: 6.2rem;
            }
        }
    }
}