.list-price {
    display: grid;
    grid-template: min-content 1fr min-content / repeat(2, 1fr);
    grid-gap: .5rem;
}

.price {
    &-list {
        border: 1px solid #fff;
        border-radius: 1.5rem;
        display: grid;
        grid-column: 1 / -1;
        grid-template: repeat(3, 1fr) / 1fr;
        &__range {
            align-items: center;
            display: grid;
            grid-template: 1fr / repeat(3, 1fr);
            justify-items: center;
            padding: .6rem 0;
            &:first-child {
                border-top-left-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
            }
            &--black {
                background-color: #000000;
            }
        }
        &__range:not(:last-child) {
            border-bottom: 1px solid #fff;
        }
    }
    &__note {
        grid-column: 1 / -1;
    }
}