.schedule {
    display: grid;
    grid-template: repeat(2, [sche-start] max-content [sche-end]) / 1fr;
    @media only screen and (min-width: 768px) {
        grid-gap: 3rem;
        grid-template: [sche-start] max-content [sche-end] / repeat(2, 1fr);
    }
    &-right,
    &-left {
        display: grid;
        grid-template-areas: "time activity" "time activity" "time activity" "time activity";
        grid-gap: 1rem;
        grid-template-columns: [sche-time] 75px [sche-time sche-act] 1fr [sche-act];
        grid-template-rows: repeat(4, [sche-col-start] 1fr [sche-col-end]);
    }
    @media only screen and (min-width: 768px) {
        &-left {
            direction: rtl;
            grid-template-areas: "activity time" "activity time" "activity time" "activity time";
        }
    }
    &-time {
        align-items: center;
        border: 4px solid #fff;
        border-radius: 50%;
        display: flex;
        /*grid-area: time;*/
        flex-flow: column;
        height: 5rem;
        justify-content: center;
        width: 5rem;
        @media only screen and (min-width: 1366px) {
            height: 6rem;
            width: 6rem;
        }
    }
    &-activity {
        align-items: flex-end;
        display: flex;
        /*grid-area: activity;*/
        flex-flow: column;
        justify-content: center;
    }
}