.souvenirs {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, [souve-start] 1fr [souve-end]);
    grid-template-rows: repeat(2, min-content);
    margin: 2rem 0;
    @media only screen and (min-width: 768px) {
        grid-template-rows: max-content;
    }
    @media only screen and (min-width: 1366px) {
        grid-template-columns: min-content auto;
    }
}

.souvenir {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-areas: "souv-img" "souv-desc";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    justify-items: center;
    &__img {
        grid-area: souv-img;
        max-height: 7rem;
        @media only screen and (min-width: 1366px) {
            max-height: 10rem;
        }
        &--main {
            max-height: 35rem;
            @media only screen and (min-width: 768px) {
                max-height: 45rem;
            }
            /*@media only screen and (min-width: 1366px) {
                max-height: 35rem;
            }*/
        }
    }
    &--main {
        align-self: center;
        justify-self: center;
        grid-column: souve-start 1 / souve-end 2;
        @media only screen and (min-width: 768px) {
            grid-column: souve-start 1 / souve-end 1;
        }
        @media only screen and (min-width: 1366px) {
            grid-column: auto;
        }
    }
    &--gift {
        display: grid;
        grid-column: souve-start 1 / souve-end 2;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, [souve-start] 1fr [souve-end]);
        grid-template-rows: repeat(4, min-content);
        @media only screen and (min-width: 768px) {
            grid-column: souve-start 2 / souve-end 2;
        }
        @media only screen and (min-width: 1366px) {
            align-content: center;
            grid-column: auto;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, min-content);
        }
    }
}