.awarding-img {
    display: none;
    @media only screen and (min-width: 1366px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.award-img {
    display: none;
    @media only screen and (min-width: 1366px) {
        display: unset;
        width: 60%;
        height: auto;
    }
}

.rank-winners {
    display: grid;
    grid-template: repeat(4, min-content) / 1fr;
    grid-gap: .5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    &__age {
        margin: 1rem 0;
    }
    &__desc {
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        grid-gap: .5rem;
    }
    &__genre {
        justify-self: center;
    }
    @media only screen and (min-width: 768px) {
        grid-auto-flow: column;
        grid-column-gap: 5rem;
        grid-row-gap: 0;
        grid-template: repeat(2, min-content)/repeat(2, 1fr);
    }
}

.winner-genre {
    align-items: center;
    border-radius: 50%;
    display: flex;
    font-size: 2.5rem;
    height: 6rem;
    justify-content: center;
    width: 6rem;
    &--man {
        border: solid 6px $primaryColour;
    }
    &--woman {
        border: solid 6px $orangeColour;
    }
    &__text {
        display: block;
        margin-top: .5rem;
    }
    @media only screen and (min-width: 768px) {
        height: 9rem;
        font-size: 5rem;
        width: 9rem;
        &--man,
        &--woman {
            @media only screen and (min-width: 768px) {
                border-width: 10px;
            }
        }
    }
}

.winner-value {
    align-self: center;
    justify-self: center;
}